body
{
    background-color:greenyellow;
}

h1 
{
  text-align: center;
}

header {
  margin-top: 50px;
  margin-bottom: 50px;
}

header aside {
  font-size: .8em;
  opacity: .6;
  float: right;
}

header nav {
  padding: 5px;
}